<article>
  <h1>投稿一覧</h1>
  <%= link_to "新規作成", new_picture_path %>  
  <% @pictures.each do |f| %>
    <ul>
      <li><%= "タイトル : #{f.title}" %></li>
      <% if f.image.url %>
        <li><%= image_tag f.image.url%></li>  
      <% end %>
      <li><%= "コンテンツ : #{f.content}" %></li>
      <li><%= link_to "作成者 : #{f.user.name}", user_path(f.user.id) %></li>
      <li><%= "更新日時 : #{l(f.updated_at)}" %></li>
      <li><%= link_to "参照", picture_path(f.id) %></li>
      <% if current_user?(f.user.id) %>
        <li><%= link_to "編集", edit_picture_path(f.id) %></li>
        <li><%= link_to "削除", picture_path(f.id) ,method: :delete, data:{confirm:"本当に削除しても良いですか？"} %></li>
      <% else %>
        <% if current_user.favorite_pictures && current_user.favorite_pictures.find_by(id: f.id) %>
          <li><%= link_to "お気に入り削除",  favorite_path(f.favorites.first.id), method: :delete %></li>
        <% else %>
          <li><%= link_to "お気に入り",  favorites_path(picture_id: f.id), method: :post %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</article>